@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&family=Sacramento&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  min-height: 500vh;
  font-family: "Montserrat", sans-serif;
}
.svg {
  margin-top: 5%;
  margin-left: 10%;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
span{
  color: #CD8736;
}
@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

#intro h1 {
  position: absolute;
  top: 20%;
  left: 7%;
  color: white;
  z-index: 2;
  font-family: "Sacramento", cursive;
}
/* The typing effect */
.typing {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.column h2 {
  color: #FCB5C1 !important;
}

.projects {
  color: #ffffff;
}
#project-display h2 {
  font-family: "Indie Flower", cursive;
}
.button{
  color:  #E61A8D !important;
}
.button .hidden{
  color: #CD8736 !important;
}
.ui.horizontal.divider p {
  color:  #CD8736;
  font-size: 50px;
  opacity: 0.3;
}

.hiddenB {
  display: none;
}
.animation {
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
#description-column {
  margin-top: 5%;
}
#movie1 {
  margin: 0 auto;
}
#movie2 {
  display: none;
}
#first-project::before {
  position: absolute;
  content: "Javascript";
  transform: rotate(45deg);
  margin-top: 90%;
  margin-left: 7%;
  color:  #FCB5C1;
  font-size: 65px;
  z-index: -2;
  opacity: 0.1;
  letter-spacing: 0.3em;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#fifth-project::before {
  position: absolute;
  content: "ReactJS";
  transform: rotate(-135deg);
  margin-top: 15%;
  color:  #FCB5C1;
  font-size: 75px;
  z-index: -2;
  opacity: 0.1;
  letter-spacing: 0.7em;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#sixth-project::after {
  position: absolute;
  content: "HTML+CSS";
  transform: rotate(350deg);
  margin-top: 70%;
  color:  #FCB5C1;
  font-size: 55px;
  z-index: -2;
  opacity: 0.1;
  letter-spacing: 0.1em;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@media only screen and (min-width: 481px) {
  .ui.container {
    max-width: 90% !important;
  }
  #intro h1 {
    top: 35%;
    left: 20%;
  }
}
@media only screen and (min-width: 769px) {
  .svg {
    margin-left: 40%;
  }
  #intro h1 {
    top: 35%;
    left: 35%;
    font-size: 3rem;
  }
  .hiddenB {
    display: block;
  }
  .hiddenA {
    display: none;
  }

  #first-project::before {
    margin-top: 45%;
    font-size: 100px;
    letter-spacing: 0.7em;
    opacity: 0.05;
  }
  #fifth-project::before {
    margin-top: 0;
    font-size: 75px;
    letter-spacing: 0.6em;
    opacity: 0.05;
  }
  #sixth-project::after {
    margin-top: 10%;
    opacity: 0.05;
  }
}
