@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&family=Sacramento&display=swap");

body {
  background-color: #fbdaca;
}
#home {
}
.ui.menu {
  border: 0 none !important;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  background-color: #fbdaca;
  color: rgb(252, 136, 78);
  padding-bottom: 10%;
}
.ui.menu img {
  display: none;
}
.ui.menu .item {
  color: #ffffff;
  font-weight: 600;
  font-size: large;
}

#introduction {
}
#introduction h2 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
#introduction h4 {
  font-family: "Montserrat", sans-serif;
  color: rgb(252, 136, 78);
}
#ball-section .section {
}
.ball {
  display: inline-block;
  width: 200px;
  height: 100px;
  border-radius: 150px 150px 0 0;
  background-color: #f6b595;
  background-image: radial-gradient(
      circle 400px at 0 0,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    radial-gradient(
      circle 180px at 90px 80px,
      rgba(255, 255, 255, 0.7),
      rgba(0, 0, 0, 0)
    );
  background-repeat: no-repeat, no-repeat;
  position: absolute;
}
#ball1 {
  left: 10%;
  z-index: -1;
}
#ball2 {
  left: 27%;
  z-index: -3;
  background-color: #ffffff;
}
#ball3 {
  left: 40%;
  z-index: -2;
}
#about {
  margin-top: 11.8%;
  padding-top: 5%;
  background-color: #ffffff;
}
#about-text {
  max-width: 80% !important;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
#about-text p {
  font-weight: 600;
}
.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f6b595;
}
.whaticando h1 {
  font-family: "Indie Flower", cursive;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
#second-about {
  margin-top: 5%;
}
#second-about p {
  padding-top: 5%;
}
#second-about .ten.wide {
  max-width: 30%;
}
#second-about h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  background-color: #f6b595;
}
#second-about .six.wide {
  max-width: 30%;
}

/* Media Queries
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/
@media only screen and (min-width: 769px) {
  .ui.menu {
    padding-bottom: 0;
  }
  .ui.menu img {
    display: block;
  }
  .ball {
    display: inline-block;
    width: 300px;
    height: 200px;
  }
  #ball1 {
    left: 20%;
  }
  #ball2 {
    left: 37%;
    background-color: #ffffff;
  }
  #ball3 {
    left: 50%;
  }
  #about-text {
    max-width: 25% !important;
  }
}
