@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&family=Sacramento&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fbdaca;
}
#home {
}
.ui.menu {
  border: 0 none !important;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  background-color: #fbdaca;
  color: rgb(252, 136, 78);
  padding-bottom: 10%;
}
.ui.menu img {
  display: none;
}
.ui.menu a:hover {
  text-decoration: none;
  color: #ffffff !important;
}
.ui.menu a:active {
  background: none !important;
  color: #f6b595;
}
.ui.menu .item {
  color: #ffffff;
  font-weight: 600;
  font-size: large;
}
#introduction {
}

#introduction h2 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
#introduction h4 {
  font-family: "Montserrat", sans-serif;
  color: rgb(252, 136, 78);
}
.ball {
  display: inline-block;
  width: 200px;
  height: 100px;
  border-radius: 150px 150px 0 0;
  background-color: #f6b595;
  background-image: radial-gradient(
      circle 400px at 0 0,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    radial-gradient(
      circle 180px at 90px 80px,
      rgba(255, 255, 255, 0.7),
      rgba(0, 0, 0, 0)
    );
  background-repeat: no-repeat, no-repeat;
  position: absolute;
}
#ball1 {
  left: 10%;
  z-index: -1;
}
#ball2 {
  left: 27%;
  z-index: -3;
  background-color: #ffffff;
}
#ball3 {
  left: 40%;
  z-index: -2;
}
#ball4 {
  width: 200px;
  height: 200px;
  left: 10%;
  border-radius: 50%;
  opacity: 0.1;
}
#ball5 {
  width: 180px;
  height: 180px;
  left: 45%;
  border-radius: 50%;
  opacity: 0.1;
}
#ball6 {
  width: 200px;
  height: 200px;
  left: 7%;
  bottom: 5%;
  border-radius: 50%;
  opacity: 0.1;
}
#ball7 {
  display: none;
}
#about {
  margin-right: 0;
  margin-top: 11.8%;
  padding-top: 5%;
  background-color: #ffffff;
}
#about-text {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
#about-text p {
  font-weight: 600;
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f6b595;
  opacity: 0.5;
}
.whaticando h1 {
  font-family: "Indie Flower", cursive;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
#second-about {
  margin-top: 5%;
}
#second-about p {
  padding-top: 5%;
}
#second-about .ten.wide {
  max-width: 30%;
}
#design h4,
#develop h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(252, 136, 78);
}
#develop {
  margin-bottom: 5%;
}
#second-about h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  background-color: #f6b595;
}
#second-about .six.wide {
  max-width: 30%;
}
.wecandothis h1 {
  font-family: "Indie Flower", cursive;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
.available {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(252, 136, 78);
}
button .ui.animated a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
button i {
  color: #ffffff;
}
#call {
  color: rgb(252, 136, 78);
  font-family: "Montserrat", sans-serif;
}
#footer {
  width: 100% !important;
  background-color: #000000;
}
#footer i {
  color: rgb(252, 136, 78);
}
.footer-dot {
  margin-right: 10%;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f6b595;
  opacity: 0.2;
}
/* Media Queries
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/
@media only screen and (min-width: 769px) {
  .ui.menu {
    padding-bottom: 0;
  }
  .ui.menu img {
    display: block;
  }
  .ball {
    display: inline-block;
    width: 300px;
    height: 200px;
  }
  #ball1 {
    left: 20%;
  }
  #ball2 {
    left: 37%;
    background-color: #ffffff;
  }
  #ball3 {
    left: 50%;
  }
  #ball7 {
    display: block;
    width: 200px;
    height: 200px;
    left: 10%;
    border-radius: 50%;
    opacity: 0.1;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: 0%;
    }
  }
  #about-text {
    max-width: 25% !important;
  }
}
