@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&family=Sacramento&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}
#home {
}
.ui.menu {
  border: 0 none !important;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: rgb(252, 136, 78);
  padding-bottom: 10%;
}
.ui.menu img {
  display: none;
}
.ui.menu a:hover {
  text-decoration: none;
  color: #ffffff !important;
}
.ui.menu a:active {
  background: none !important;
  color: #f6b595;
}
.ui.menu .item {
  color: #ffffff;
  font-weight: 600;
  font-size: large;
}
#introduction {
}

#introduction h2 {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
#introduction h4 {
  font-family: "Montserrat", sans-serif;
  color: rgb(252, 136, 78);
}
.moon {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px #fff;
  z-index: -5;
}
#moon1 {
  top: 10;
  right: 10;
  bottom: ;
  left: ;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px #fff;
  z-index: -4;
}
#moon2 {
  top: 10;
  right: 0;
  bottom: 10;
  left: 1;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px #fff;
  z-index: -4;
  transform: rotate(155deg);
}
.ball {
  display: inline-block;
  width: 200px;
  height: 100px;
  border-radius: 150px 150px 0 0;
  background-color: #f6b595;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.ball:hover {
  transform: scale(1.5);
}
#ball1 {
  left: 10%;
  z-index: -1;
}
#ball2 {
  left: 27%;
  z-index: -3;
  background-color: #ffffff;
}
#ball3 {
  left: 40%;
  z-index: -2;
}
#ball4 {
  width: 200px;
  height: 200px;
  left: 10%;
  border-radius: 50%;
  opacity: 0.1;
  background: #ffffff;
}

#ball5 {
  width: 180px;
  height: 180px;
  left: 45%;
  border-radius: 50%;
  opacity: 0.1;
  background-color: #ffffff;
}
#ball6 {
  width: 200px;
  height: 200px;
  left: 7%;
  bottom: 5%;
  border-radius: 50%;
  opacity: 0.1;
}
#ball7 {
  display: none;
}
#about {
  margin-right: 0;
  margin-top: 11.8%;
  padding-top: 5%;
  background-color: #000000;
  color: #ffffff;
}
#about #profile {
  margin-top: 11.8%;
}
#about-text {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
#about-text p {
  font-weight: 600;
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f6b595;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.dot:hover {
  transform: scale(2);
}

.whaticando h1 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
#second-about {
  margin-top: 5%;
}
#second-about p {
  padding-top: 5%;
}
#design h4,
#develop h4 {
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(252, 136, 78);
}
#design {
  margin-bottom: 5%;
  font-family: "Montserrat", sans-serif;
}
#develop {
  margin-bottom: 8%;
  font-family: "Montserrat", sans-serif;
}
#second-about h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  background-color: #f6b595;
}
.wecandothis h1 {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(252, 136, 78);
}
.available {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
#available-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
button .ui.animated a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
button i {
  color: #ffffff;
}
#call {
  color: rgb(252, 136, 78);
  font-family: "Montserrat", sans-serif;
}
#footer {
  width: 100% !important;
  background-color: #000000;
}
#footer i {
  color: rgb(252, 136, 78);
}
.footer-dot {
  margin-right: 10%;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f6b595;
  opacity: 0.2;
}

/* Media Queries
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

/*481px — 768px: iPads, Tablets.*/
@media only screen and (min-width: 768px) {
  .ui.menu {
    padding-bottom: 0;
  }
  .ui.menu img {
    display: block;
  }
  #moon1 {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 25px 10px 0px 0px #fff;
    z-index: -1;
  }
  #moon2 {
    display: none;
  }
  .ball {
    display: inline-block;
    width: 300px;
    height: 200px;
  }
  #ball1 {
    left: 15%;
  }
  #ball2 {
    left: 32%;
  }
  #ball3 {
    left: 45%;
  }
  .hi {
    position: fixed; /* make sure it stays put so we can see it! */
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  #ball4::before {
    display: block;
    position: absolute;
    margin-top: 35%;
    margin-left: 25%;
    content: "Web Designer";
    color: #000000;
    font-weight: bold;
    opacity: 1;
  }
  #ball4::after {
    display: block;
    position: absolute;
    margin-top: 50%;
    margin-left: 10%;
    content: "I Codes my breakfast";
    color: #000000;
    font-weight: bold;
    opacity: 1;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
  #ball5 {
    width: 200px;
    height: 200px;
    left: 63%;
    border-radius: 50%;
    opacity: 0.2;
  }
  #ball7 {
    display: block;
    width: 200px;
    height: 200px;
    left: 10%;
    border-radius: 50%;
    opacity: 0.1;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #ffffff;
  }
  #ball7::before {
    display: block;
    position: absolute;
    margin-top: 35%;
    margin-left: 25%;
    content: "Web Developer";
    color: #000000;
    font-weight: bold;
  }
  @keyframes slidein {
    from {
      margin-left: 60%;
    }

    to {
      margin-left: 0%;
    }
  }
  #profile {
    display: none;
  }
  #about-text {
    max-width: 50% !important;
  }
  #more-about {
    margin-left: 20% !important;
  }
  #develop,
  #design {
    max-width: 45%;
  }
  #available-text {
    padding-right: 25%;
    padding-left: 25%;
  }
}

/*769px — 1024px: Small screens, laptops.*/
@media only screen and (min-width: 1024px) {
}
/*1025px — 1200px: Desktops, large screens.*/
@media only screen and (min-width: 1200px) {
  #ball1 {
    left: 20%;
  }
  #ball2 {
    left: 37%;
    background-color: #ffffff;
  }
  #ball3 {
    left: 50%;
  }
}
